<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyConnectionString" 
	     connectionString="Data Source=DESKTOP-O3SAATO\SQLEXPRESS;
		 Initial Catalog=SERIESMANAGERDB; Integrated Security=true;"
		 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>